<div class="pure-g results">
  <div class="pure-u-1">
    <%= render 'common/tracks' %>
  </div>
  <div class="pure-u-1">
    <%= render 'albums' %>
  </div>
  <div class="pure-u-1">
    <%= render 'artists' %>
  </div>
</div>
