<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
  <a href="<%= root_url %>" class="pure-menu-heading">
    <%= fa_icon 'headphones' %>
    DudePlayMe
  </a>
    <li><%= link_to 'Search', new_search_path %></li>
    <li><a href="#">Player</a></li>
    <li><a href="#">Status</a></li>
  </ul>
</div>
